
/* regole generali */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fredoka", sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    /* debug */
    background-color: blueviolet;
    height: 800px;
}

main::after {
    content: "";
    display: table;
    clear: both;
}

.card::after {
    content: "";
    display: table;
    clear: both;
}

/* stile intestazione */
header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    color: rgb(230, 48, 112);
    margin: 40px 0;
}

/* stile card */
.card {
    float: left;
    margin: 20px 10px;
    /* debug */
    background-color: brown;
    border: solid black;
    width: calc(100% / 3 - 20px);
    height: 100px;

}

/* interno card */
.img {
    /* debug */
    width: 30%;
    height: 100%;
    background-color: aqua;
    float: left;
}



.testo {
    /* debug */
    width: 70%;
    height: 100%;
    background-color: yellow;
    float: left;
}

